<!-- Load the datamodel -->
@model List<PropertyManagement.Models.OperationRecord>
<style>
    .text-wrap {
        white-space: normal;
    }

    .width-200 {
        width: 200px;
    }
</style>

@if (Model != null)
{
    <table id="datatable" class="display table compact nowrap">
        <caption style="text-align:center; font-weight:bold">@ViewBag.TableCaption</caption>
        <thead align="center">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    Due Amount
                </th>
                <th>
                    Payment
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Paid Date
                </th>
                <th>
                    Paid By
                </th>
                <th>
                    Address
                </th>
                <th width="20%">
                    Memo
                </th>
                <th>
                    Expense
                </th>
                <th>
                    Bank Account
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2"></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var row in Model)
                {
                <tr>
                    <td>
                       @if (@row.StatusID != 3 || Session["UserID"].ToString ().Equals ("1")) {@Html.ActionLink("Edit", "Edit", "Expense", new { id = row.ID }, null)}
                    </td>
                    <td>
                       @if (@row.StatusID != 3 || Session["UserID"].ToString().Equals("1")) { @Html.ActionLink("Delete", "Delete", "Expense", new { id = row.ID }, null)}
                    </td>
                    <td>
                       @if (@row.StatusID != 3 || Session["UserID"].ToString().Equals("1")) { @Html.ActionLink("Remind", "Remind", "Expense", new { id = row.ID }, null)}
                    </td>
                    <td>
                       @if (@row.LinkedExpenseID == 0)
                       { @Html.ActionLink("Reimburse", "Reimburse", "Expense", new { id = row.ID }, null)}
                    </td>
                    @*<td>
                        <a href="#ReportModalDialog" class="ReportModalDialog" data-accession=@row.ID data-patientmrn="" data-patientname=""> Reimburse</a>
                    </td>*@
                    <td class="dataTableLeft">
                        @((row.DueAmount == 0) ? "" : @row.DueAmount.ToString("C"))
                    </td>
                    <td class="dataTableLeft">
                        @((row.Payment == 0) ? "" : @row.Payment.ToString("C"))
                    </td>
                    <td class="dataTableLeft">
                        @row.DueDate.ToShortDateString()
                    </td>
                    <td class="dataTableLeft">
                        @((row.CompleteDate.ToShortDateString() == "1/1/0001") ? "" : @row.CompleteDate.ToShortDateString())
                    </td>
                    <td class="dataTableLeft">
                        @row.PaidBy
                    </td>
                    <td class="max-width:350px">
                        @row.Address
                    </td>
                    <td class="max-width:400px">
                        @row.Memo
                    </td>
                    <td >
                        @row.CategoryName
                    </td>
                    <td class="dataTableLeft">
                        @row.BankAccountName
                    </td>
                    <td class="dataTableLeft">
                        @row.StatusName
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal Dialog for Showing Dx Report -->
    <div id="ReportModalDialog" class="modalDialog">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <a href="#close" title="Close" class="close">X</a>
                <h4 class="modal-title" id="myModalLabel">Reimburse Expense</h4>
            </div>
            <div class="modal-body">
                <div style="width:400px">
                    @*<label>Transfer to Bank Account:</label>@Html.DropDownListFor(x => x.TransferedFinancialBankAccountID, Model.AllBankAccount, "Please Select Financial Account", new { @class = "form-control selectpicker" })*@
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

    <div class="@ViewBag.MyExeptionCSS">@ViewBag.MyExeption</div>
    <script>
        // Script to execute when document is ready
        $(document).ready(function () {

            // Get the table caption (if there is one) for the report table
            var tablecaption = $("#datatable").find('caption').text();

            // Setup standard Datatable formatting
            $('#datatable').DataTable({
                "order": [],
                "searching": true,
                "paging": true,
                "scrollCollapse": true,
                "processing": false,
                "serverSide": false,
                "iDisplayLength": 25,
                dom: 'if<"savebuttons"B>tlp',
                buttons: [
                          {
                              extend: 'copy',
                              orientation: 'landscape',
                              message: tablecaption
                          },
                          {
                              extend: 'csv',
                              orientation: 'landscape',
                              message: tablecaption
                          },
                          {
                              extend: 'pdf',
                              orientation: 'landscape',
                              message: tablecaption
                          },
                          {
                              extend: 'excel',
                              title: tablecaption,
                              message: tablecaption,
                              sTitle: tablecaption
                          },
                          {
                              extend: 'print',
                              orientation: 'landscape',
                              message: tablecaption
                          }
                ],
                "language": {
                    loadingRecords: "Loading data, please wait...",
                    zeroRecords: "No data..."
                },
                "formatNumber": function (toFormat) { return toFormat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); },
                columnDefs: [
                              {
                                  render: function (data, type, full, meta) {
                                      return "<div class='text-wrap width-200'>" + data + "</div>";
                                  },
                                  targets: 10
                              }
                ],
                //start of totals data table
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        if (typeof i === 'number') {
                            return i;
                        }
                        else {
                            return i.replace(/[\$,]/g, '').replace(/[\)]/g, '').replace(/[\(]/g, '-') * 1;
                        }
                    };

                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);


                    // Update footer
                    $(api.column(4).footer()).html(
                        '$' + pageTotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ( $' + total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' total)'
                    );  // Total over all pages

                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);


                    // Update footer
                    $(api.column(5).footer()).html(
                        '$' + pageTotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ( $' + total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' total)'
                    );
                } // End of totals data table

               // "bAutoWidth": true

            }); // End of document datatable

            $('#datatable td').css('white-space', 'initial');
        }); // End of document ready


    </script>
}
