@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Main">
    <div>
        <div>
            <h2>Property Management</h2>
            <br />
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Application", "Tenant")'">Tenant Application</button>
            <br />
            <section id="loginForm">
            @using (Html.BeginForm("LogOn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    <div class="">
                        <label><b>Username</b></label>: @Html.TextBox("userName", ViewBag.userName as string, new { @class = "loginInputs" })
                        <br />
                        <label><b>Password</b></label>: @Html.Password("password", ViewBag.password as string, new { @class = "loginInputs" })
                    </div>
                    <label style="color :red"> @TempData["ErrorMessage"]</label>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>
                    @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>