@model PropertyManagement.ViewModels.User .UserIndexVM 
<!-- Load common Javascript code -->
@Scripts.Render("~/Scripts/Pages/00-Shared.js")

<!-- Load common layout and retrieve report title -->
@{
    ViewBag.Title = ViewBag.ReportTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display the report title -->
<!-- Load common Javascript code -->
@Scripts.Render("~/Scripts/Pages/00-Shared.js")

<!-- Load common layout and retrieve report title -->
@{
    ViewBag.Title = ViewBag.ReportTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display the report title -->
<h2>@ViewBag.ReportTitle</h2>

<br />
<p>
    @Html.ActionLink("Add New User", "Add", "User", null, null)
</p>
@using (Html.BeginForm("ReportView", "User", FormMethod.Post))
{
    <!-- Place selection options on page -->
    <div id="wrapper">
        @Helpers.IOMultiList(ViewBag.companies, "CompanyID", "Company")
    </div>
    <!-- Place submit button on page -->
    <div id="wrapper">
        <div class="" style="clear:both;width:100%;">
            <button id="submitBtn" type="button" class="">Search</button>
            <button id="resetBtn" type="button" class="">Reset</button>
        </div>
    </div>
    <br />

}

<!-- Report table or chart area - add additional div for chart if necessary -->
<div id="reportDiv"></div>

<!-- Place at bottom of page -->
<div class="modal"></div>

<!-- Javascript custom routines for this page -->
<script type="text/javascript">
    // Script for on submit button click
    $("#submitBtn").on('click', function () {
        // Load the partial view(s)
        $.ajaxSetup({ traditional: true });
        $("#reportDiv").load('@Url.Action("ReportView", "User")', { companyIDs: $("#CompanyID").val() });
    }); // End of on submit button click

    // Script for on reset button click
    $("#resetBtn").on('click', function () {

        // Reset all of the selectpicker dropdown listboxes to deselect any selected values
        $.each($('.selectpicker'), function (index, value) {
            $(value).selectpicker('deselectAll');
        });

    }); // End of on reset button click
</script>
